.container-header{
    background-color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px 10px rgb(0,0,0, 0.2);
}

.logo-header{
    max-width: 100%;
    width: 10vw;
    height: auto;
}
.container-footer{
    box-shadow: 80px;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
    box-shadow: 5px 5px 10px rgb(0,0,0, 0.2);

}


.texto-acessorios{
    color: blue;
    margin-left: 5%;
    white-space: nowrap;
    
    
}

.div-botao-voltar{
    display: flex;
    
}

.botao-voltar{
    color: white;
    background-color: #3269df;
    border-radius: 11px;

    width: fit-content;       
    padding: 8px 16px;         
    font-size: 16px;

    display: inline-block;
    
    
}