
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #007BFF, #8000FF);
  background-attachment: fixed;
}


.home-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}

 Wrapper central 
.logo-quadrado-wrapper {
  position: relative;
  width: 470px; 
  margin: 0 auto;
}


.QuadradoLogo {
  width: 470px;
  height: 470px;
  background: white;
  border-radius: 12px;
}


.logo {
  position: absolute;
  top: 50%;          
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;       
  z-index: 2;
}

/* TEXTOS */
.textLogo,
.textLogo2 {
  color: white;
  text-align: center;
  margin-top: 20px;
}






@media (max-width: 1024px) {
  .logo-quadrado-wrapper {
    width: 400px;
  }

  .QuadradoLogo {
    width: 400px;
    height: 400px;
    margin-left: 20%;
  }

  .logo {
    width: 350px;
    margin-left: 18%;
  }
 
.textLogo2 {
  color: white;
  text-align: center;
  margin-left: 22%;
  font-size: 130%;
}
.textLogo{
  margin-left: 22%;
  height: 100%;
  font-size: 130%
}

}


@media (max-width: 768px) {
  .logo-quadrado-wrapper {
    width: 350px;
  }

  .QuadradoLogo {
    width: 350px;
    height: 350px;
    margin-left: 12%;
    
  }

  .logo {
    width: 300px;
    margin-left: 12%;
    
  }
  .textLogo2 {
  color: white;
  text-align: center;
  margin-left: 5%;
  font-size: 110%;
}
.textLogo{
  margin-left: 6%;
  height: 100%;
  font-size: 110%
}


}

@media (max-width: 480px) {
  .logo-quadrado-wrapper {
    width: 300px;
                     
    transform: translateX(10%);      

  .QuadradoLogo {
    width: 300px;
    height: 300px;
    margin-left: -5%;
  }

  .logo {
    width: 240px;
    margin-left: -6%;
  }
}
 .textLogo2 {
  color: white;
  text-align: center;
  margin-left: 8%;
  font-size: 110%;
}
.textLogo{
  margin-left: 6%;
  height: 100%;
  font-size: 110%
}
@media (max-width: 576px) {
  .logo-quadrado-wrapper {
    width: 300px;
                     
    transform: translateX(10%);      
  }

  .QuadradoLogo {
    width: 300px;
    height: 300px;
    margin-left: -5%;
  }

  .logo {
    width: 240px;
    margin-left: -6%;
  }
}
 .textLogo2 {
  color: white;
  text-align: center;
  margin-left: 8%;
  font-size: 110%;
}
.textLogo{
  margin-left: 6%;
  height: 100%;
  font-size: 110%
}
}


