.carrossel-wrapper {
  width: 400px;           
  max-width: 100%;        
  margin: 20px auto;      
  background: white; 
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  position: relative;
  box-sizing: border-box;
  
}


.carrossel-track-container {
  overflow: hidden;
  flex: 1;
}

.carrossel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carrossel-item {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrossel-item img {
  max-width: 60%;
  width: 60%; 
  height: auto;
}


.carrossel-btn {
  background: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  transition: background 0.3s;
}

.carrossel-btn.left { left: 10px; }
.carrossel-btn.right { right: 10px; }

.carrossel-btn:hover {
  background: rgba(0,0,0,0.8);
}

@media (max-width: 1024px) {
  .carrossel-wrapper {
    width: 350px;        
    max-width: 90%;      
    padding: 15px;
    margin-left: 43%;

  }
}




@media (max-width: 768px) {
  .carrossel-wrapper {
    width: 350px;       
    max-width: 90%;     
    padding: 15px;
    margin-left: 31%;
  }

  .carrossel-item img {
    width: 60%;
    max-width: 122px;
  }

  .carrossel-btn {
    font-size: 1.8rem;
    padding: 8px 12px;
  }
}
@media (max-width: 420px) {
  .carrossel-wrapper {
    width: 95vw;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    max-width: none;
  }
}
@media (max-width: 576px) {
  .carrossel-wrapper {
    width: 400px;        
    max-width: 90%;      
    padding: 15px;
    margin-left: 18%;
  }
}@media (max-width: 500px){
  .carrossel-wrapper{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
  }
}
